.container {
  height: 100vh;
}

footer {
  background-color: rgba(128, 128, 128, 0.153);
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.162);
}

footer,
footer > p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

.page-title {
}

.wrapper {
  display: flex;
  justify-content: center;
}
